In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [9]:
path ="https://raw.githubusercontent.com/MSU-AI/Fetal-State-Predictor/main/AI_Club_2.csv"

In [10]:
data = pd.read_csv(path,encoding='unicode_escape')

In [11]:
data

,FileName,Date,SegFile,b,e,LBE,LB,AC,FM,UC,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Variab10.txt,12/1/96,CTG0001.txt,240.0,357.0,120.0,120.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,9.0,2.0
2,Fmcs_1.txt,5/3/96,CTG0002.txt,5.0,632.0,132.0,132.0,4.0,0.0,4.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
3,Fmcs_1.txt,5/3/96,CTG0003.txt,177.0,779.0,133.0,133.0,2.0,0.0,5.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
4,Fmcs_1.txt,5/3/96,CTG0004.txt,411.0,1192.0,134.0,134.0,2.0,0.0,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125,S8001045.dsp,6/6/98,CTG2127.txt,1576.0,3049.0,140.0,140.0,1.0,0.0,9.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0
2126,S8001045.dsp,6/6/98,CTG2128.txt,2796.0,3415.0,142.0,142.0,1.0,1.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,564.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data.isnull().sum()

FileName    4
Date        4
SegFile     4
b           4
e           4
LBE         4
LB          4
AC          4
FM          3
UC          3
ASTV        3
MSTV        3
ALTV        3
MLTV        3
DL          2
DS          2
DP          2
DR          2
Width       4
Min         4
Max         4
Nmax        4
Nzeros      4
Mode        4
Mean        4
Median      4
Variance    4
Tendency    4
A           4
B           4
C           4
D           4
E           4
AD          4
DE          4
LD          4
FS          4
SUSP        4
CLASS       4
NSP         4
dtype: int64

In [13]:
miss_value=['N/a','na','NaN',np.nan]
data = pd.read_csv(path,na_values=miss_value)
data.isnull().sum()

FileName    4
Date        4
SegFile     4
b           4
e           4
LBE         4
LB          4
AC          4
FM          3
UC          3
ASTV        3
MSTV        3
ALTV        3
MLTV        3
DL          2
DS          2
DP          2
DR          2
Width       4
Min         4
Max         4
Nmax        4
Nzeros      4
Mode        4
Mean        4
Median      4
Variance    4
Tendency    4
A           4
B           4
C           4
D           4
E           4
AD          4
DE          4
LD          4
FS          4
SUSP        4
CLASS       4
NSP         4
dtype: int64

In [14]:
data.isnull().any()

FileName    True
Date        True
SegFile     True
b           True
e           True
LBE         True
LB          True
AC          True
FM          True
UC          True
ASTV        True
MSTV        True
ALTV        True
MLTV        True
DL          True
DS          True
DP          True
DR          True
Width       True
Min         True
Max         True
Nmax        True
Nzeros      True
Mode        True
Mean        True
Median      True
Variance    True
Tendency    True
A           True
B           True
C           True
D           True
E           True
AD          True
DE          True
LD          True
FS          True
SUSP        True
CLASS       True
NSP         True
dtype: bool

In [17]:
data=data.dropna()

In [18]:
dummies=pd.get_dummies(data.NSP)
merged_data=pd.concat([data,dummies],axis='columns')
merged_data

,FileName,Date,SegFile,b,e,LBE,LB,AC,FM,UC,...,AD,DE,LD,FS,SUSP,CLASS,NSP,1.0,2.0,3.0
1,Variab10.txt,12/1/96,CTG0001.txt,240.0,357.0,120.0,120.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,9.0,2.0,0,1,0
2,Fmcs_1.txt,5/3/96,CTG0002.txt,5.0,632.0,132.0,132.0,4.0,0.0,4.0,...,1.0,0.0,0.0,0.0,0.0,6.0,1.0,1,0,0
3,Fmcs_1.txt,5/3/96,CTG0003.txt,177.0,779.0,133.0,133.0,2.0,0.0,5.0,...,1.0,0.0,0.0,0.0,0.0,6.0,1.0,1,0,0
4,Fmcs_1.txt,5/3/96,CTG0004.txt,411.0,1192.0,134.0,134.0,2.0,0.0,6.0,...,1.0,0.0,0.0,0.0,0.0,6.0,1.0,1,0,0
5,Fmcs_1.txt,5/3/96,CTG0005.txt,533.0,1147.0,132.0,132.0,4.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,S8001045.dsp,6/6/98,CTG2124.txt,2059.0,2867.0,140.0,140.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,5.0,2.0,0,1,0
2123,S8001045.dsp,6/6/98,CTG2125.txt,1576.0,2867.0,140.0,140.0,1.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,5.0,2.0,0,1,0
2124,S8001045.dsp,6/6/98,CTG2126.txt,1576.0,2596.0,140.0,140.0,1.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,5.0,2.0,0,1,0
2125,S8001045.dsp,6/6/98,CTG2127.txt,1576.0,3049.0,140.0,140.0,1.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,5.0,2.0,0,1,0
2126,S8001045.dsp,6/6/98,CTG2128.txt,2796.0,3415.0,142.0,142.0,1.0,1.0,5.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1,0,0

In [19]:
merged_data = merged_data[['LB', 'FM', 'UC', 'ASTV','ALTV',1.0,2.0,3.0]]

In [20]:
merged_data

         LB   FM   UC  ASTV  ALTV  1.0  2.0  3.0
1     120.0  0.0  0.0  73.0  43.0    0    1    0
2     132.0  0.0  4.0  17.0   0.0    1    0    0
3     133.0  0.0  5.0  16.0   0.0    1    0    0
4     134.0  0.0  6.0  16.0   0.0    1    0    0
5     132.0  0.0  5.0  16.0   0.0    1    0    0
...     ...  ...  ...   ...   ...  ...  ...  ...
2122  140.0  0.0  6.0  79.0  25.0    0    1    0
2123  140.0  0.0  9.0  78.0  22.0    0    1    0
2124  140.0  0.0  7.0  79.0  20.0    0    1    0
2125  140.0  0.0  9.0  78.0  27.0    0    1    0
2126  142.0  1.0  5.0  74.0  36.0    1    0    0

[2126 rows x 8 columns]

In [22]:
x= merged_data.iloc[:, :5].values
y= merged_data.iloc[:, 5:].values

In [24]:
x.shape

(2126, 5)

In [25]:
y.shape

(2126, 3)

In [ ]:
pip install keras-tuner --upgrade
pip install tensorflow